<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tenant.mapper.MasterTenantMapper">

    <resultMap type="MasterTenant" id="MasterTenantResult">
        <result property="id"    column="id"    />
        <result property="tenant"    column="tenant"    />
        <result property="url"    column="url"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="databaseName"    column="database_name"    />
        <result property="hostName"    column="host_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="expirationDate"    column="expiration_date"    />
    </resultMap>


    <sql id="selectMasterTenantVo">
        select id, tenant, url, username, password, database_name, host_name, create_time, status, expiration_date from master_tenant
    </sql>

    <select id="selectMasterTenant" parameterType="MasterTenant" resultMap="MasterTenantResult">
        <include refid="selectMasterTenantVo"/>
        <where>
            <if test="tenant != null and tenant != ''">
                AND tenant = #{tenant}
            </if>
        </where>
    </select>

    <select id="selectMasterTenantList" parameterType="MasterTenant" resultMap="MasterTenantResult">
        <include refid="selectMasterTenantVo"/>
        <where>
            <if test="tenant != null and tenant != ''">
                AND tenant = #{tenant}
            </if>
        </where>
    </select>

    <insert id="insertMasterTenant" parameterType="MasterTenant" useGeneratedKeys="true" keyProperty="id">
        insert into master_tenant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenant != null">tenant,</if>
            <if test="url != null">url,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="databaseName != null">database_name,</if>
            <if test="hostName != null">host_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="expirationDate != null">expiration_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenant != null">#{tenant},</if>
            <if test="url != null">#{url},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="databaseName != null">#{databaseName},</if>
            <if test="hostName != null">#{hostName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="expirationDate != null">#{expirationDate},</if>
        </trim>
    </insert>

    <update id="updateMasterTenant" parameterType="MasterTenant">
        update master_tenant
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenant != null">tenant = #{tenant},</if>
            <if test="url != null">url = #{url},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="databaseName != null">database_name = #{databaseName},</if>
            <if test="hostName != null">host_name = #{hostName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="expirationDate != null">expiration_date = #{expirationDate},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="checkTenantNameUnique" parameterType="String" resultType="int">
        select count(1) from master_tenant where tenant = #{tenantName} limit 1
    </select>


</mapper>