<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.crm.mapper.CrmCommentMapper">

    <resultMap type="CrmComment" id="CrmCommentResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCrmCommentVo">
        select id, customer_id, content, create_by, create_time, update_by, update_time from crm_comment
    </sql>

    <select id="selectCrmCommentList" parameterType="CrmComment" resultMap="CrmCommentResult">
        <include refid="selectCrmCommentVo"/>
        <where>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
        </where>
    </select>

    <select id="selectCrmCommentById" parameterType="Long" resultMap="CrmCommentResult">
        <include refid="selectCrmCommentVo"/>
        where id = #{id}
    </select>

    <insert id="insertCrmComment" parameterType="CrmComment">
        insert into crm_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="content != null">content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="content != null">#{content},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCrmComment" parameterType="CrmComment">
        update crm_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCrmCommentById" parameterType="Long">
        delete from crm_comment where id = #{id}
    </delete>

    <delete id="deleteCrmCommentByIds" parameterType="String">
        delete from crm_comment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>